section {
  width: 100%;
  background-color: var(--gray-100);

  margin-top: 1rem;

  border: 1px solid var(--gray-300);
  border-radius: 1rem;
}

section img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 10px;
  border: 2px solid var(--white);
}

#profile div:nth-child(1) {
  background: var(--gradient);
  padding: 0.1rem;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.tag-id{
    background-color: var(--gray-300);
    margin: 0 auto auto auto;

    border-radius: 999px;

    & h3{
        padding: 0.1rem  0.5rem;
    }
    
}

main{
    overflow: hidden;
    margin-top: 1rem;
}

main div {
    width: 3.5rem;
    height: 3.5rem;

    background-color: var(--gray-200);
    backdrop-filter: blur(3.14362px);
    

    border-radius: 12px;

    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
    }

}

#gift {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
}

@media (width>=80em){

  main{
    margin-top: 2rem;
  }

  main div {
    width: 5.5rem;
    height: 5.5rem;

    border-radius: 20px;
    margin-bottom: 1rem;
  }
}