.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--px-lg) * 1);
    margin-inline: auto;
    margin-top: 1rem;
}

.text-center{
    text-align: center;
}


.py-base {
  padding-block: var(--py-base);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.p-1{
  padding: var(--p-1)
}

.flex{
    display: flex;
}

.grid{
  display: grid;
}

.grid-colums-1{
  grid-template-columns: 2fr 1fr;
}

.grid-rows-2{
  grid-template-rows: repeat(2,auto);
}

.grid-colums-5{
  grid-template-columns: repeat(5, auto);
}

.flex-col {
    flex-direction: column;
}

.align-items{
    align-items: center;
}

.justify-items{
  justify-items: center;
}

.justify-between{
  justify-content: space-between;
}

.flex-end{
  justify-self: flex-end;
}

.icon {
    width: 100%;
    height: 100%;
    
}

.gap-1{
  gap: 1rem
}

.gap-0\.5{
  gap: 0.5rem
}

.gap-0\.25{
  gap: 0.25rem
}

.title{
  font: var(--font-bold) var(--text-lg) / var(--leading) var(--ff-oxygen);
  color: var(--gray-600);
}

.mb-1{
  margin-bottom: 1rem;
}

.desktop{
  display: initial;
}


@media (width>=80em){
  .container {
    --max-width: 80em;
  }

  .desktop{
    display: grid;
  }
}






.input-disabled{
  background-color: var(--gray-400);
}

.button-disabled{
  background-color: var(--gray-400);
}


.justify-center{
    justify-items: center;
}

@media (width >=80em) {
  .container {
    --max-width: 80em;
  }

  .p-1{
    padding: 1.5rem;
  }
}
